html, body {
  background: #101214;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;

}

.aboutme {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto;
}

.aboutme h1 {
  text-align: center;
  color: white;
  font-size: 25px;   
}

.aboutme p {
  text-align: center;
  color: white;
  font-size: 18px;
}

.aboutme a:link {
  color: orange;
}

.aboutme a:hover {
  text-decoration: overline underline;
}
